/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
  text-transform: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
.mode-edition {
  width: 100%;
  height: 60px;
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.mode-edition p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.mode-edition .publier {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  width: 216px;
  height: 38px;
  background-color: #fff;
  border-radius: 60px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  cursor: pointer;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
p.photo-modifier {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin: 20px 20px;
  padding-left: 37px;
}

/* Mes Projets */
.description-modifier {
  padding-bottom: 18px;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.filters ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 50px;
}
/* Modifier mes projets */
.header-projet p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -52px;
  left: 175px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 16px;
  gap: 8px;
}
.header-projet i {
  bottom: 10px;
}
.filters li {
  font-family: "Syne";
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #1d6154;
  border-radius: 60px;
  padding: 10px;
  width: auto;
  color: #1d6154;
}
.filters li:hover {
  background: #1d6154;
  color: white;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}
/* Modal 1 */
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.break-line{

  color: #B3B3B3;
  width: 370px;

}
.break-line2{
  margin-top: 50px;
}


.modal-content {
  width: 630px;
  max-width: 100vh;
  max-height: 100vh;
  overflow: auto;
  padding: 20px 100px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.gallery-modal {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  position: relative;
    left: 28px;
}

.modal-figure {
  position: relative;
  width: 19%;
  margin-bottom: 40px;
}
.modal-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
span.image-caption {
  position: absolute;
  bottom: -19px;
  left: 0px;
}
/* Breakline */

/* .break-line {
  width: 420px;
  height: 0px;
  color: #b3b3b3;
} */

p.trash-box {
  width: 17px;
  height: 17px;
  background-color: #000000;
  border-radius: 2px;
  position: absolute;
  left: 65.14%;
  right: 53.68%;
  top: 5.69%;
  bottom: 75.81%;
}
p.move-box {
  display: flex;
  width: 17px;
  height: 17px;
  color: white;
  background-color: #000000;
  border-radius: 2px;
  position: absolute;
  left: 39.14%;
  right: 53.68%;
  top: 5.69%;
  bottom: 75.81%;
  opacity: 0;
}
.modal-figure:hover p.move-box {
opacity: 1;
}

i.fa-solid.fa-trash-can {
  position: absolute;
  bottom: 18%;
  right: 4px;
  color: #fff;
  font-size: 10px;
}
.fa-arrows-up-down-left-right:before {
  display: none;
  position: absolute;
  bottom: 18%;
  left: 3px;
  color: #fff;
  font-size: 10px;
}
.fa-arrows-alt:before, .fa-up-down-left-right:before {
  position: absolute;
  font-size: 12px;
  left: 2.5px;
  top:2.5px;
}


.modal-icon-delete {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
}
.modal-trigger {
  cursor: pointer;
}
.close-modal {
  font-family: "Syne";
  font-weight: 700;
  cursor: pointer;
  border: none;
  background: none;
  font-weight: bold;
  font-size: 18px;

  position: relative;
  left: 60%;
}
.modal-content h2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 30px;
}
.modal-content h3 {
  color: red;
  font-family: "Syne";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-top: 23px;
}
button.ajouter-img {
  margin-top: 30px;
  background: #1d6154;
  border-radius: 60px;
  color: #fff;
  border: none;
  width: 237px;
  height: 36px;
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  border-top: solid #000000;
}

/* Modal 2 */
.modal-content2 {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.titre-categ #image {
  display: none;
  position: relative;
}
.fa-mountain-sun:before{
  position: absolute;
  bottom: 25px;
}
.content-image i {
  position: relative;
  left: 0;
  right: 0;
  bottom: 15px;
}
.modal-content2 h2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 30px;
}
 i .fa-sharp .fa-light.fa-image {
  font-family: "Syne";
  font-weight: 700;
  cursor: pointer;
  border: none;
  background: none;
  font-weight: bold;
  font-size: 18px;

  position: relative;
  right: 60%;
  top: 20px;
}
.content-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 169px;
  background: #e8f1f7;
  border-radius: 3px;
}
.ajouter-photo-2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #306685;
  width: 173px;
  height: 36px;
  background: #cbd6dc;
  border-radius: 50px;
  border: none;
  margin-bottom: 15px;
}
.titre-categ input {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 420px;
  height: 51px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border: none;
  column-gap: 50px;
}
.titre-categ label {
  position: relative;
  top:22px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #3d3d3d;
}
.btn-valider {
  width: 237px;
  height: 36px;
  background: #a7a7a7;
  border-radius: 60px;
  border: none;
  color: #fff;
  margin-top: 40px;
  position: relative;
  left: 22%;
}
select#categorie{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 420px;
  height: 51px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border: none;
  column-gap: 50px;
}
select#categorie option {
 position: relative;
 top: 5px;
}
 .fa-arrow-left:before {
  position: relative;
  right: 200px;
  top: 25px;
  font-size: 18px;
}
.fa-image:before{
  font-size: 50px;
}

/* FOOTER */
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
